block head
    - css = ['../../bower_components/bootstrap/dist/css/bootstrap.css','../../css/bootstrap-responsive.css', '../../bower_components/bootstrap/dist/css/bootstrap-theme.css', '../css/app.css', '../css/services.css'];
    title
        | Консалтинговые услиги
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    each file in css
        link(rel='stylesheet', href=file)
block body
    include ../bodyTop
    .container
        section#SmenaDirektora
            h2 Смена генерального директора
            hr
            p
                | Генеральный директор осуществляет руководство текущей деятельностью юридического лица. За исключением некоторых случаев, предусмотренных законодательством, ответственность за хозяйственную деятельность предприятия несет Генеральный директор.
            p
                | При необходимости смены Генерального директора вносятся соответствующие изменения в сведения, содержащиеся в Едином государственном реестре юридических лиц.

    include ../bodyBottom
    include ../scipts

