.row
    .col-md-8
        img.img-responsive.img-rounded(src='img/mainBanner.jpg', alt='')
    .col-md-4
        h1 О нас
        p
            | Наша компания осуществляет юридические услуги в области гражданского и налогового законодательства РФ .
        p
            | Мы работает на рынке с 2010 года и зарекомендовала себя как надежного партнера и помощника в решении Ваших проблем.
        p
            | Наша юридическая компания занимается закрытием ООО, ликвидацией ООО, внесением изменений, смена участников и ликвидации/реорганизации ООО и процедурой банкротства (несостоятельности) юридического лица.
        p
            | Мы предлагаем:
        ul
            li опыт и высокую квалификацию наших специалистов в решении Ваших задач;
            li решение различных юридических вопросов;
            li оперативность, четкость и высокий стандарт в работе;
            li индивидуальный подход к каждому клиенту;
            li нестандартность и эффективность в выборе средств для достижения результата.


    #buttoncol.col-lg-2
        #button.a.btn.btn-primary.btn-lg(data-toggle="modal" data-target="#contact") Отправить заявку.

    #buttoncol.col-lg-2
        #button.a.btn.btn-primary.btn-lg(data-toggle="modal" data-target="#telephone")  Заказать звонок.
hr
.row
    .col-lg-12
        .well.text-center
            | Наш телефон 8(499) 390-20-94
.row
    .col-md-6
        h2 Изменение состава участников (продажа доли в ООО третьему лицу)
        p
            | Законодательством 2009 № 312-ФЗ года введен новый порядок заключения сделок с долями в уставном капитале ООО. С 2009 года договор об отчуждении доли в уставном капитале ООО заключаются в нотариальной форме. Смена участников ООО является процедурой регистрации изменений в обществе с ограниченной ответственностью, которая осуществляется через налоговый орган. Смена учредителей (участников) Общества может происходить как через нотариальную сделку купли-продажи доли, так и путем ввода нового участника и вывода старого.
        a.btn.btn-default(href='service.html#SmenaDan') Больше информации
    .col-md-6
        h2 Смена генерального директора
        p
            | Генеральный директор осуществляет контроль и непосредственное руководство деятельности Общества. Бывают случаи, когда есть необходимость смены Ген. директора. Для смены Директора необходимо внести необходимые правки в действующие сведения, которые содержаться в ЕГРЮЛ (Единый Государственный Реестр Юридических Лиц), путем подачи особого пакета документов в налоговый орган по месту нахождения Общества.
        a.btn.btn-default(href='html/smenServ.html') Больше информации
.row
    .col-md-6
        h2 Смена видов деятельности без внесения изменений в Устав или с внесением в Устав.

        a.btn.btn-default(href='service.html#SmenaVidovDeyatelnosti') Больше информации
    .col-md-6
        h2 Изменение состава участников (продажа доли в ООО третьему лицу)

        a.btn.btn-default(href='service.html#IzmenenieUstava') Больше информации
.row
    .col-md-6
        h2 Cмена директора

        a.btn.btn-default(href='service.html#SmenaDan') Больше информации
    .col-md-6
        h2 Исправление ошибки в ЕГРЮЛ

        a.btn.btn-default(href='service.html#IspravEGRQL') Больше информации
.row
    .col-md-6
        h2 Ликвидация присоединением в регион «под ключ»

        a.btn.btn-default(href='service.html#LikviPris') Больше информации
    .col-md-6
        h2 Ликвидация сменой участников на оффшор и директора

        a.btn.btn-default(href='service.html#LikviDir') Больше информации
.row
    .col-md-6
        h2 Альтернативные способы ликвидации

        a.btn.btn-default(href='service.html#LikviAlt') Больше информации


#contact.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(data-dismiss='modal', aria-hidden='true') ×
                h3.modal-title Контакты:
            form#contact-form.modal-body(role='form')
                .form-group
                    input.form-control.input-lg(type='text', placeholder='Ваше имя', name='name')
                .form-group
                    input.form-control.input-lg(type='email', placeholder='Ваш email', name='mail')
                .form-group
                    textarea.form-control.input-lg(rows='5', placeholder='Ваше сообщение', name='message')
            .modal-footer
                button.btn.btn-default.btn-lg(type='submit', title='Отправить Email', form='contact-form') Отправить
#telephone.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(data-dismiss='modal', aria-hidden='true') ×
                h3.modal-title Контакты:
            form#telephone-form.modal-body(role='form')
                .form-group
                    input.form-control.input-lg(type='text', placeholder='Ваше имя', name='name')
                .form-group
                    input.form-control.input-lg(type='text', placeholder='Ваш телефонный номер', name='message')
            .modal-footer
                button.btn.btn-default.btn-lg(type='submit', title='Отправить', form='telephone-form') Отправить
