.container
    .row
        .col-md-3.col-sm-4.col-xs-12
            ul.nav.nav-list
                ul.nav.nav-list
                    li.active
                        a.scroll(href='#SmenaDirektora') Смена генерального директора
                    li
                        a.scroll(href='#SmenaVidovDeyatelnosti') Смена видов деятельности без внесения изменений в Устав или с внесением в Устав.
                    li
                        a.scroll(href='#IzmenenieUstava') Изменение состава участников (продажа доли в ООО третьему лицу)
                    li
                        a.scroll(href='#SmenaDan') Смена данных генерального директора / Смена данных  участника (учредителя)
                    li
                        a.scroll(href='#IspravEGRQL') Исправление ошибки в ЕГРЮЛ
                    li
                        a.scroll(href='#LikviAlt') Альтернативные способы ликвидации
                    li
                        a.scroll(href='#LikviPris') Ликвидация присоединением или слиянием
        .col-md-9.col-sm-8.col-xs-12
            section#SmenaDirektora
                h2 Смена генерального директора
                hr
                p
                    | Генеральный директор осуществляет руководство текущей деятельностью юридического лица. За исключением некоторых случаев, предусмотренных законодательством, ответственность за хозяйственную деятельность предприятия несет Генеральный директор.
                p
                    | При необходимости смены Генерального директора вносятся соответствующие изменения в сведения, содержащиеся в Едином государственном реестре юридических лиц.
            section#SmenaVidovDeyatelnosti
                h2 Смена видов деятельности без внесения изменений в Устав или с внесением в Устав.
                hr
                p
                    | Генеральный директор осуществляет руководство текущей деятельностью юридического лица. За исключением некоторых случаев, предусмотренных законодательством, ответственность за хозяйственную деятельность предприятия несет Генеральный директор.
                p
                    | При необходимости смены Генерального директора вносятся соответствующие изменения в сведения, содержащиеся в Едином государственном реестре юридических лиц.
            section#IzmenenieUstava
                .page-header
                    h2  Изменение состава участников (продажа доли в ООО третьему лицу)
                p
                    | 1 июля 2009 года вступил в силу 312-ФЗ, в соответствии с которым, введен новый порядок заключения сделок с долями в уставном капитале ООО. Теперь договоры об отчуждении доли в уставном капитале ООО заключаются в нотариальной форме. Напомним, что ранее, сделки с долями в уставном капитале ООО совершались в простой письменной форме.
                p
                    | Смена учредителей ООО представляет собой процедуру регистрации изменений в обществе с ограниченной ответственностью, связанных с изменением состава учредителей путем продажи доли участника, а также через ввод участника в общество и вывод участника из общества. Законом предусмотрены различные варианты смены состава участников ООО. Главным отличительным признаком смены учредителей ООО является необходимость нотариального заверения договора о продаже доли и возможность законно оформить переход доли в ООО без нотариуса. Подробнее о способах и деталях смены состава учредителей Вы можете ознакомиться ниже в разделе полезной информации
            section#SmenaDan
                .page-header
                    h2  Смена данных генерального директора / Смена данных  участника (учредителя)
                p
                    | В соответствии с действующим законодательством, при смене паспортных данных участника / Генерального директора, необходимо внести соответствующие изменения в органе, осуществляющем государственную регистрацию юридического лица.
                p
                    | Обязанность по осуществлению действий, направленных на регистрацию такого рода изменений возложена на единоличный исполнительный орган юридического лица – Генерального директора.
            section#IspravEGRQL
                .page-header
                    h2  Исправление ошибки в ЕГРЮЛ
                p
                    | Ошибки, допущенные при регистрации (внесении изменений) юридических лиц по вине налогового органа либо заявителя обнаруживаются в самый неподходящий момент (например, при срочной необходимости внесения изменений, заключении крупной сделки, при открытии банковского счета).
                p
                    | Стоит только допустить небольшую опечатку в заполнении документов, как орган, осуществляющий государственную регистрацию юридических лиц, моментально выдает отказ, без объяснения истинных причин.
                p
                    | На практике очень сложно доказать виновность регистрирующего органа. Причем, система построена так, что чиновник допустивший ошибку фактически никогда не несет ответственность за нее. Обращайтесь к нашим специалистам. Мы поможем Вам найти выход из сложившейся ситуации.
            section#SmenaDan
                .page-header
                    h2  Смена данных генерального директора / Смена данных  участника (учредителя)
                p
                    | В соответствии с действующим законодательством, при смене паспортных данных участника / Генерального директора, необходимо внести соответствующие изменения в органе, осуществляющем государственную регистрацию юридического лица.
                p
                    | Обязанность по осуществлению действий, направленных на регистрацию такого рода изменений возложена на единоличный исполнительный орган юридического лица – Генерального директора.
            section#SmenaDan
                .page-header
                    h2  Смена данных генерального директора / Смена данных  участника (учредителя)
                p
                    | В соответствии с действующим законодательством, при смене паспортных данных участника / Генерального директора, необходимо внести соответствующие изменения в органе, осуществляющем государственную регистрацию юридического лица.
                p
                    | Обязанность по осуществлению действий, направленных на регистрацию такого рода изменений возложена на единоличный исполнительный орган юридического лица – Генерального директора.
