.container
    .row
        .col-md-3.col-sm-4.col-xs-12
            ul.nav.nav-list
                ul.nav.nav-list
                    li.active
                        a.scroll(href='#SmenaDirektora') Смена генерального директора
                    li
                        a.scroll(href='#SmenaVidovDeyatelnosti') Смена видов деятельности без внесения изменений в Устав или с внесением в Устав.
                    li
                        a.scroll(href='#IzmenenieUstava') Изменение состава участников (продажа доли в ООО третьему лицу)
                    li
                        a.scroll(href='#SmenaDan') Смена данных генерального директора / Смена данных  участника (учредителя)
                    li
                        a.scroll(href='#IspravEGRQL') Исправление ошибки в ЕГРЮЛ
                    li
                        a.scroll(href='#LikviPris') Ликвидация присоединением в регион «под ключ»
                    li
                        a.scroll(href='#LikviDir') Ликвидация сменой участников на оффшор и директора
                    li
                        a.scroll(href='#LikviAlt') Альтернативные способы ликвидации
                    li
                        a.scroll(href='#SmenaAdr') Смена юридического адреса
                    li
                        a.scroll(href='#PrisFrm') Присоединение или слияние с региональной фирмой
                    li
                        a.scroll(href='#LikviOOO') Ликвидация сменой участников на оффшор и директора
                    li
                        a.scroll(href='#LikviOOO') Официальная ликвидация ООО

        .col-md-9.col-sm-8.col-xs-12
            section#SmenaDirektora
                h2 Смена генерального директора
                hr
                p
                    | Генеральный директор осуществляет руководство текущей деятельностью юридического лица. За исключением некоторых случаев, предусмотренных законодательством, ответственность за хозяйственную деятельность предприятия несет Генеральный директор.
                p
                    | При необходимости смены Генерального директора вносятся соответствующие изменения в сведения, содержащиеся в Едином государственном реестре юридических лиц.
            section#SmenaVidovDeyatelnosti
                h2 Смена видов деятельности без внесения изменений в Устав или с внесением в Устав.
                hr
                p
                    | Генеральный директор осуществляет руководство текущей деятельностью юридического лица. За исключением некоторых случаев, предусмотренных законодательством, ответственность за хозяйственную деятельность предприятия несет Генеральный директор.
                p
                    | При необходимости смены Генерального директора вносятся соответствующие изменения в сведения, содержащиеся в Едином государственном реестре юридических лиц.
            section#IzmenenieUstava
                .page-header
                    h2  Изменение состава участников (продажа доли в ООО третьему лицу)
                p
                    | 1 июля 2009 года вступил в силу 312-ФЗ, в соответствии с которым, введен новый порядок заключения сделок с долями в уставном капитале ООО. Теперь договоры об отчуждении доли в уставном капитале ООО заключаются в нотариальной форме. Напомним, что ранее, сделки с долями в уставном капитале ООО совершались в простой письменной форме.
                p
                    | Смена учредителей ООО представляет собой процедуру регистрации изменений в обществе с ограниченной ответственностью, связанных с изменением состава учредителей путем продажи доли участника, а также через ввод участника в общество и вывод участника из общества. Законом предусмотрены различные варианты смены состава участников ООО. Главным отличительным признаком смены учредителей ООО является необходимость нотариального заверения договора о продаже доли и возможность законно оформить переход доли в ООО без нотариуса. Подробнее о способах и деталях смены состава учредителей Вы можете ознакомиться ниже в разделе полезной информации
            section#SmenaDan
                .page-header
                    h2  Смена данных генерального директора / Смена данных  участника (учредителя)
                p
                    | В соответствии с действующим законодательством, при смене паспортных данных участника / Генерального директора, необходимо внести соответствующие изменения в органе, осуществляющем государственную регистрацию юридического лица.
                p
                    | Обязанность по осуществлению действий, направленных на регистрацию такого рода изменений возложена на единоличный исполнительный орган юридического лица – Генерального директора.
            section#IspravEGRQL
                .page-header
                    h2  Исправление ошибки в ЕГРЮЛ
                p
                    | Ошибки, допущенные при регистрации (внесении изменений) юридических лиц по вине налогового органа либо заявителя обнаруживаются в самый неподходящий момент (например, при срочной необходимости внесения изменений, заключении крупной сделки, при открытии банковского счета).
                p
                    | Стоит только допустить небольшую опечатку в заполнении документов, как орган, осуществляющий государственную регистрацию юридических лиц, моментально выдает отказ, без объяснения истинных причин.
                p
                    | На практике очень сложно доказать виновность регистрирующего органа. Причем, система построена так, что чиновник допустивший ошибку фактически никогда не несет ответственность за нее. Обращайтесь к нашим специалистам. Мы поможем Вам найти выход из сложившейся ситуации.
            section#LikviPris
                    h2  Ликвидация присоединением в регион «под ключ»

                ul
                    li    Получение Свидетельства о начале процедуры реорганизации
                    li    Опубликование объявлений о процедуре реорганизации в Вестнике государственной регистрации
                    li    Переход прав и обязанностей к правоприемнику в регион
                    li    Получение свидетельства о прекращении деятельности
                    li    В стоимость включены все расходы и пошлины


            section#LikviDir
                .page-header
                    h2 Ликвидация сменой участников на оффшор и директора
                ul
                    li  Ввод оффшорной компании в состав участников ликвидируемой фирмы
                    li  Регистрация выхода всех старых участников ликвидируемой фирмы
                    li  Увольнение генерального директора решением оффшорной компании
                    li  Назначение новым генеральным директором представителя оффшорной компании – нерезидента

            section#LikvirAlt
                .page-header
                    h2  Альтернативные способы ликвидации
                p
                    |Официальная ликвидация юридических лиц – является непростой и затратной процедурой, зачастую влечет налоговые проверки. Поэтому самыми распространенными, простыми и быстрыми способами ликвидации юридических лиц являются альтернативные способы ликвидации. Обратим Ваше внимание на то обстоятельство, что все предложенные способы альтернативной ликвидации являются законными.   p
            section#SmenaAdr
                .page-header
                    h2  Смена юридического адреса
                p
                    |Со сменой юридического адреса меняется и налоговая инспекция, на учете в которой состоит предприятие. Для чего это нужно? Фирма в день регистрации соответствующих изменений снимается с налогового учета, о чём выдается соответствующее уведомление и сразу же ставится на учет в новом налоговом органе (по месту нового юридического адреса). Таким образом, как только снятие с учета произведено, прежняя налоговая инспекция лишается права проводить какие-либо проверки и выставлять штрафные санкции, даже за прежний период деятельности. Существует строгая территориальная подведомственность, и налоговый орган имеет право осуществлять контроль только над теми налогоплательщиками, которые состоят у него на налоговом учете.
            section#PrisFrm
                .page-header
                    h2  Присоединение или слияние с региональной фирмой
                p
                    |В случае слияния или присоединения к региональной организации ликвидируемое предприятие прекращает свое существование с момента присоединения к другому юридическому лицу (которое находится в регионе). В Единый государственный реестр юридических лиц вносится запись о прекращении ликвидируемого предприятия. При слиянии и присоединении все права, а главное обязанности ликвидируемого предприятия, в том числе задолженность, переводятся в полном объеме на баланс правопреемника. В качестве документа, удостоверяющего правопреемство, оформляется передаточный акт.
            section#LikviOOO
                .page-header
                    h2  Официальная ликвидация ООО
                p
                    |Официальная ликвидация ООО происходит в три этапа: подготовительный, основной, заключительный. Преимуществом официальной ликвидации ООО является исключение из сведений Единого государственного реестра юридических лиц записи о юридическом лице (аннулируются ОГРН и ИНН). Официальная ликвидация ООО – долгосрочный процесс, который занимает от 4 до 6 месяцев. section#LikviOOO
